{% extends 'viajes/index.html' %}


{% block titulo %}

<div class="col-lg-8 align-self-end">
    <h1 class="text-white font-weight-bold">Vuelos</h1>
    <hr class="divider" />
</div>   
<div class="col-lg-8 align-self-baseline"></div> 

{% endblock titulo %}


{% block contenido %}

<table class="table table-striped">
    <thead> 
        <tr>
            <th>ID</th>
            <th>Nombre de la Aerolínea</th>
        </tr>
    </thead>
    <tbody>        
        {% for v in vuelos %}
            <tr>
                <td>{{ v.id }}</td>
                <td>{{ v.nombreAerolinea }}</td>
            </tr>            
        {% endfor %}
    </tbody>
</table>

{% endblock contenido %}